# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2.1

jobs:
  build:
    working_directory: ~/employees_app
    docker:
      - image: circleci/python:3.7.3
        environment:
          DATABASE_NAME: employees
          DATABASE_USER: employees
          DATABASE_PASSWORD: dev@123
          DATABASE_HOST: db
          DATABASE_PORT: "5432"
      - image: circleci/postgres
        environment:
          POSTGRES_USER: employees
          POSTGRES_PASSWORD: dev@123
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages
      - run: pip install -r app/requirements.txt
      - run: python manage.py test
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: trl